Package: com.toogoodbruh.iOSbeta11BetaProfile
Name: iOS 11 beta Configuration Profile
Version: 0
Architecture: iphoneos-arm
Description: iOS 11 beta
Depiction: https://repo.toogoodbruh.com/depictions/?p=com.toogoodbruh.ios11beta
Homepage: https://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: TooGoodBruh <martialartsapplemma@gmail.com>
Section: iOS Betas
