Package: com.toogoodbruh.applesept2020eventrespringlogo
Name: Apple Event Respring Logo
Version: 1.0.5
Architecture: iphoneos-arm
Description:  An animated respring logo that looks like the September 2020 Apple event waiting screen.
  · Smooth animation
  · Takes up less space than previous versions
Depiction: https://sil.toogoodbruh.com/?json=http://repo.toogoodbruh.com/projects/AppleWatchRespringLogo/DEBIAN/SileoDepiction.json&name=Apple%20Watch%20Respring%20Logo&section=TGB%20Respring%Logos&dev=Gabe%20Nydick
Depends: firmware (>=10.0)
Homepage: https://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: Gabe Nydick <martialartsapplemma@gmail.com>
Section: TGB Respring Logos
Tag: purpose::extension, compatible_min::ios10, compatible_max::ios14.5
SileoDepiction: https://sil.toogoodbruh.com/?json=http://repo.toogoodbruh.com/projects/AppleWatchRespringLogo/DEBIAN/SileoDepiction.json
