Package: com.toogoodbruh.applepreorderanim
Name: Apple Preorder Animation
Version: 1.0~b01
Architecture: iphoneos-arm
Description:  An animated respring logo that is the same as the apple on the waiting
 page before iPhone pre orders start.
  · Smooth animation
  · High resolution
Depiction: https://repo.toogoodbruh.com/depictions/?p=com.toogoodbruh.applepreanim
Depends: firmware (>=10.0), firmware ( <=13.3)
Homepage: https://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: Gabe Nydick <martialartsapplemma@gmail.com>
Section: TGB Respring Logos
Tag: purpose::extension, compatible_min::ios10, compatible_max::ios13.3
