Package: com.toogoodbruh.applepreorderanim
Name: Apple Preorder Animation
Version: 1.0.0
Architecture: iphoneos-arm
Description:  An animated respring logo that is the same as the apple on the waiting
 page before iPhone pre orders start.
  · Smooth animation
  · High resolution
Depiction: https://sil.toogoodbruh.com/?json=http://repo.toogoodbruh.com/projects/ApplePreOrderAnim/DEBIAN/SileoDepiction.json
Depends: firmware (>=10.0)
Icon: file://Users/gnydick/Documents/toogoodbruh.github.io/projects/ApplePreOrderAnim/DEBIAN/icon.png
Homepage: https://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: Gabe Nydick <martialartsapplemma@gmail.com>
Section: TGB Respring Logos
Tag: purpose::extension, compatible_min::ios10, compatible_max::ios13.4
SileoDepiction: https://sil.toogoodbruh.com/?json=http://repo.toogoodbruh.com/projects/ApplePreOrderAnim/DEBIAN/SileoDepiction.json
