Package: com.toogoodbruh.simplified
Name: Simplified
Version: 1.0.0-m
Architecture: iphoneos-arm
Description: Simple look for iOS devices
Depiction: https://repo.toogoodbruh.com/depictions/?p=com.toogoodbruh.simplified
Homepage: https://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: TooGoodBruh <martialartsapplemma@gmail.com>
Section: TGB Themes
Depends: firmware(>= 8.1.2)
Image: file:///Library/Themes/Simplified.theme/icon.png
