Package: com.toogoodbruh.simplified
Name: Simplified
Version: 1.0.0-n
Priority: optional
Size: 100000
Architecture: iphoneos-arm
Description: Simple look for iOS devices
Date: day-of-week, dd month yyyy hh:mm:ss -zzzz
Depiction: https://repo.toogoodbruh.com/depictions/?p=com.toogoodbruh.simplified
Homepage: https://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: TooGoodBruh <martialartsapplemma@gmail.com>
Section: TGB Themes
Depends: firmware(>= 8.1.2) , mobilesubstrate , winterboard
Image: file:///Library/Themes/Simplified.theme/icon.png
