Package: com.toogoodbruh.activator
Name: Activator
Version: 1.9.11~beta5
Priority: optional
Size: 100000
Architecture: iphoneos-arm
Description: Simple look for iOS devices
Date: day-of-week, dd month yyyy hh:mm:ss -zzzz

Homepage: https://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: TooGoodBruh <martialartsapplemma@gmail.com>
Section: TGB Themes
Depends: firmware(>= 8.1.2), mobilesubstrate
