Package: com.toogoodbruh.MontyHacksII
Name: MontyHacks II
Version: 0.00
Architecture: iphoneos-arm
Description:
Depiction: https://repo.toogoodbruh.com/depictions/?p=com.toogoodbruh.montyhacksii
Depends: com.anemonetheming.anemone
Homepage: https://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: Gabe Nydick <martialartsapplemma@gmail.com>
Section: TGB Themes
