Package: com.toogoodbruh.MontyHacksII
Name: MontyHacks II
Version: 1.0.0
Architecture: iphoneos-arm
Description: theme
Depiction: https://repo.toogoodbruh.com/depictions/?p=com.toogoodbruh.toogoodbruhrepoicons
Depends: com.anemonetheming.anemone
Homepage: https://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: Gabe Nydick <martialartsapplemma@gmail.com>
Section: TGB Themes
Tag: purpose::extension, compatible_min::ios11, compatible_max::ios11.4
