Package: com.toogoodbruh.simplifiedrespringlogo
Name: Simplified Respring Logo
Version: 1.0-d
Architecture: iphoneos-arm
Description: Simple respring logo for the Simplified theme
Depiction: https://repo.toogoodbruh.com/depictions/?p=com.toogoodbruh.simplifiedrespringlogotheme
Homepage: https://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: TooGoodBruh <martialartsapplemma@gmail.com>
Section: TGB Respring Logos
Tag: purpose::extension, compatible_min::ios10, compatible_max::ios11.4
