Package: com.toogoodbruh.applewatchrespringlogo
Name: Apple Watch Respring Logo
Version: 1.0.0
Architecture: iphoneos-arm
Description:  An animated respring logo that looks like an Apple Watch update screen.
  · Smooth animation
  · Takes up less space than previous versions
Depiction: https://repo.toogoodbruh.com/depictions/?p=com.toogoodbruh.applewatchrespringlogo
Depends: firmware (>=10.0), firmware ( <=13.4)
Homepage: https://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: Gabe Nydick <martialartsapplemma@gmail.com>
Section: TGB Respring Logos
Tag: purpose::extension, compatible_min::ios10, compatible_max::ios13.4
SileoDepiction: http://sil.toogoodbruh.com/repo/SileoDepiction.json
