Package: com.toogoodbruh.TestTheme
Name: LoL Theme
Version: 0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0
Architecture: iphoneos-arm
Description: Lol Theme Just a joke (In Beta) Many updates to come!
Homepage: http://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: TooGoodBruh <martialartsapplemma@gmail.com>
Section: Themes (SpringBoard)
