Package: com.toogoodbruh.testtheme
Name: LoL Theme Beta
Version: 1.0.1
Architecture: iphoneos-arm
Description: Lol Theme Just a joke. Many updates to come! WinterBoard and IconBundles are required to run this theme.
Homepage: https://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: TooGoodBruh <martialartsapplemma@gmail.com>
Section: Themes (SpringBoard)
