Package: com.toogoodbruh.LoLTheme
Name: LoL Theme
Version: 0.0.1
Architecture: iphoneos-arm
Description: Lol Theme Just a joke In Beta
Homepage: http://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: TooGoodBruh <martialartsapplemma@gmail.com>
Section: Themes (SpringBoard)
