Package: com.toogoodbruh.toogoodbruhrepoicons
Name: TooGoodBruh Repo Icons
Version: 0.2
Architecture: iphoneos-arm
Description: Repo Icons
Depiction: https://repo.toogoodbruh.com/depictions/?p=com.toogoodbruh.toogoodbruhrepoicons
Homepage: https://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: TooGoodBruh <martialartsapplemma@gmail.com>
Section: TGB Themes
