Package: com.toogoodbruh.toogoodbruhrepoicons
Name: TooGoodBruh Repo Icons
Version: 0.3-a001
Architecture: iphoneos-arm
Priority: required
Description: Simple look for iOS devices
Depiction: https://repo.toogoodbruh.com/depictions/?p=com.toogoodbruh.toogoodbruhrepoicons
Homepage: https://repo.toogoodbruh.com
Maintainer: TooGoodBruh <martialartsapplemma@gmail.com>
Author: TooGoodBruh <martialartsapplemma@gmail.com>
Section: TGB Themes
Depends: firmware(>=2.0)
