.alert-success {
    box-shadow: 3px 3px grey;
    color: #0B931F; /*#31708F */
    background-color: #33FF52; /*#D9EDF7 */
    border-color: #BCE8F1; /*#BCE8F1 */
    border-radius: 10px;
}

.alert-danger {
    box-shadow: 3px 3px grey;
    border-radius: 10px;
    /*color: #0B931F; /*#31708F */
    /*background-color: #33FF52; /*#D9EDF7 */
    /*border-color: #BCE8F1; /*#BCE8F1 */
}

.list-group {
    box-shadow: 3px 3px grey;
    border-radius: 20px;
}

/*.list-group-item {
    box-shadow: 5px 5px grey;
    border-radius: 25px;
}*/

.repoFooterLinks {
    box-shadow: 3px 3px grey;
    border-radius: 20px;
}

.repoFooterLinksTos {
    box-shadow: 3px 3px grey;
    border-radius: 20px;
}
