.alert-success {
    box-shadow: 10px 10px 5px grey;
    color: #0B931F; /*#31708F */
    background-color: #33FF52; /*#D9EDF7 */
    border-color: #BCE8F1; /*#BCE8F1 */
}

.alert-danger {
    box-shadow: 10px 10px 5px grey;
    /*color: #0B931F; /*#31708F */
    /*background-color: #33FF52; /*#D9EDF7 */
    /*border-color: #BCE8F1; /*#BCE8F1 */
}

.list-group {
    box-shadow: 10px 10px 5px grey;
}

.list-group-item {
    box-shadow: 10px 10px 5px grey;
}

.repoFooterLinks {
    box-shadow: 10px 10px 5px grey;
}

.repoFooterLinksTos {
    box-shadow: 10px 10px 5px grey;
}
